<c-footer>
  <c-container breakpoint="xxl" class="px-0 pt-2">
    <c-row class="gap-0">

      <!-- GOVPH Image -->
      <c-col [xs]="12" [sm]="12" [md]="3" [lg]="3"
        class="d-flex justify-content-center justify-content-md-start"
        >
        <img cImg fluid src="./assets/images/republika-ng-pilipinas.svg"
        height="180" style="opacity: 0.5;"/>
      </c-col>

      <!-- Republic of the PH -->
      <c-col [xs]="12" [sm]="12" [md]="3" [lg]="3">
        <h6 class="fw-bold">REPUBLIC OF THE PHILIPPINES</h6>
        <p>All content is in the public domain unless otherwise stated.</p>
      </c-col>

      <!-- About GOVPH -->
      <c-col [xs]="12" [sm]="12" [md]="3" [lg]="3" class="">
        <h6 class="fw-bold">ABOUT GOVPH</h6>
        <p>
          Learn more about the Philippine government,
          its structure, how government works and the people behind it.
        </p>
        <ul>
          <li><a href="https://www.gov.ph/">GOV.PH</a></li>
          <li><a href="https://www.gov.ph/data">Open Data Portal</a>
          </li><li><a href="https://www.officialgazette.gov.ph/">Official Gazette</a>
          </li>
        </ul>
      </c-col>

      <!-- Government Links -->
      <c-col [xs]="12" [sm]="12" [md]="3" [lg]="3">
        <h6 class="fw-bold">GOVERNMENT LINKS</h6>
        <ul>
          <li><a href="https://president.gov.ph/">Office of the President </a></li>
          <li><a href="https://main.ovp.gov.ph/">Office of the Vice President</a>
          </li><li><a href="https://web.senate.gov.ph/">Senate of the Philippines</a>
          </li><li><a href="https://www.congress.gov.ph/">House of Representatives</a>
          </li><li><a href="http://sc.judiciary.gov.ph/">Supreme Court</a></li>
          <li><a href="http://ca.judiciary.gov.ph/">Court of Appeals</a></li>
          <li><a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a></li>
        </ul>
      </c-col>

    </c-row>
  </c-container>
</c-footer>
