:host {
  display: block;
  font-size: 12px;
}

h6 {
  font-size: 12px;
}

li {
  list-style: none;
  padding: 1px 0;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  padding-inline-start: 0;
}
