<div class="bg-light dark:bg-transparent d-flex flex-row align-items-center rounded-2 mb-4"
     style="min-height: 45vh;"
  >
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-body-secondary float-start">
            The page you are looking for was not found
            or still in development.
          </p>
        </div>
        <button cButton
                color="primary"
                (click)="goBack()">
          <svg cIcon name="cilArrowLeft" class="me-2"></svg>
            Go Back
        </button>
      </c-col>
    </c-row>
  </c-container>

</div>

<!-- <app-footer /> -->
