<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col sm="10" md="8" lg="6" xl="5">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <img src="assets/images/brand.svg" height="77" alt="">
              <form cForm class="mt-4">
                <h2>Admin Login</h2>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    placeholder="Username"
                    readonly="true"
                    disabled="true"
                    value="admin"  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    readonly="true"
                    type="password"
                    disabled="true"
                    value="admin123"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" routerLink="/dashboard">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-end" xs="6">
                    <!-- <button cButton class="px-0" color="link" routerLink="/register"> -->
                    <!--   Register User -->
                    <!-- </button> -->
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <!-- <c-card [style.minWidth.%]="44" class="text-white bg-primary py-5"> -->
          <!--   <c-card-body class="text-center"> -->
          <!--     <div> -->
          <!--       <h2>Sign up</h2> -->
          <!--       <p> -->
          <!--       Create your account now -->
          <!--       </p> -->
          <!--       <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register"> -->
          <!--         Register Now! -->
          <!--       </button> -->
          <!--     </div> -->
          <!--   </c-card-body> -->
          <!-- </c-card> -->
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
